body {
  background: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(38, 76, 140) 76.7%,
    rgb(31, 63, 116) 100.2%
  );
  display: block;
  margin: 8px;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

a {
  color: #30368a;
}

.weather-app {
  background: #ffff;
  max-width: 600px;
  margin: 60px auto;
  padding: 38px;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #f9f7fe;
  padding: 20px 0;
}

img {
  margin: 0;
  width: 120px;
}

.search-form {
  width: 370px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  width: 73%;
  font-size: 14px;
  padding: 15px 23px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.search-form-button {
  background: #4b5ae4;
  color: #ffff;
  border: none;
  padding: 15px 23px;
  border-radius: 10px;
  margin-left: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  text-align: center;
  padding: 45px 0 45px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #ffde59;
}

.weather-app-temp-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.temp-description {
  color: #4b5ae4;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 48px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

#humidity {
  color: #4b5ae4;
}

#wind-speed {
  color: #4b5ae4;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temps {
  text-align: center;
  color: #4b5ae4;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temp {
  padding: 0 8px;
}

.weather-forecast-temp strong {
  color: #000000;
  opacity: 0.7;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
}
